<div class="banner {{banner.divClass}}">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div ng-if="banner.image"><img class="banner-image img-responsive hidden-xs" ng-src="images/{{banner.image}}"></div>
				<div ng-if="banner.imageXS"><img class="banner-image-small img-responsive visible-xs" ng-src="images/{{banner.imageXS}}"></div><!-- <h1 class="wow lightSpeedIn">{{banner.title}}</h1> --><!-- <h2>{{banner.tagline}}</h2> -->
				<h4>{{banner.description}}</h4>
			</div>
		</div><!-- ENDS row -->
	</div><!-- ENDS container -->
</div><!-- ENDS banner -->