<a id="top-scroll" name="top"></a> <!-- ABOUT US -->
<div class="main-container-secondary">
	<div class="band">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<h1 class="giant">Skills and Background</h1><!-- ABOUT --><img class="img-icon img-responsive wow rotateIn" src="images/gavin2.png">
					<h5 class="grey">Gavin Lovegrove</h5>
					<h2 class="yellow">Career</h2><img src="images/stars.png">
					<p>After retiring in 1998 from a 15 year career in athletics as a javelin thrower, I pursued my keen interest in creative design and web programming. After many hours spent behind the screen I have acquired a wide range of technical skills in both graphic design and website development. Over the years I have been fortunate to work with a loyal base of supportive clients and have continued to push the boundaries in design and web technologies, offering all these services at competitive rates.</p><a href="https://nz.linkedin.com/pub/gavin-lovegrove/14/b30/705" target="_blank"><img src="images/linkedin_logo.png"></a>
				</div><!-- ENDS col -->
			</div><!-- ENDS row -->
		</div><!-- ENDS container -->
	</div><!-- ENDS band-grey --><!--<div class="band-video">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="text-center white" style="margin-top:30px;">New Zealand Javelin Record - 88.20m (Oslo, Norway)</h3>
                    <div align="center" class="embed-responsive embed-responsive-16by9">
                        <iframe class="center-block video embed-responsive-item" width="640" height="480" src="//www.youtube.com/embed/B194wqEJcds?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
	<div class="band-grey">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">Technologies we work with</h2>
				</div>
				<div class="col-sm-6">
					<h4><strong>Websites Design and Development</strong></h4>
					<ul>
						<li>PHP (Codeigniter/Laravel frameworks)</li>
						<li>MySQL / PHPMyAdmin (database)</li>
						<li>HTML5</li>
						<li>CSS3 (Twitter Bootstrap/Foundation frameworks)</li>
						<li>JavaScript / jQuery / AngularJS</li>
						<li>Sublime Text2</li>
						<li>Dreamweaver</li>
						<li>Fireworks</li>
					</ul>
				</div><br class="visible-xs">
				<div class="col-sm-6">
					<h4><strong>Graphic Design</strong></h4>
					<ul>
						<li>Adobe - InDesign, Illustrator, Photoshop, Acrobat Pro and Acrobat Distiller</li>
					</ul><br class="visible-xs">
					<h4><strong>Other</strong></h4>
					<ul>
						<li>FTP Clients</li>
						<li>Dual platforms – Mac and PC</li>
						<li>Experience with Mac Server systems</li>
						<li>Database Development (MySQL, PHP MyAdmin/Navicat)</li>
						<li>Knowledge of PHP dynamically driven websites</li>
					</ul>
				</div>
			</div><!-- ENDS row -->
			<div class="row">
				<div class="col-sm-12">
					<br>
					<hr class="dashed">
					<br>
					<br>
				</div>
			</div><!--ENDS row-->
			<div class="row">
				<div class="col-sm-2">
					<a href="http://dev.w3.org/html5/html-author/" target="_blank"><img alt="HTML5 CSS3" class="img-responsive center-block" src="images/tech_logos/logo_html5_css.png"></a>
				</div>
				<div class="col-sm-2">
					<a href="http://php.net/" target="_blank"><img alt="PHP" class="img-responsive center-block" src="images/tech_logos/logo_php.png"></a>
				</div>
				<div class="col-sm-2">
					<a href="http://www.mysql.com/" target="_blank"><img alt="MySql" class="img-responsive center-block" src="images/tech_logos/logo_mysql.png"></a>
				</div>
				<div class="col-sm-2">
					<a href="http://www.codeigniter.com/" target="_blank"><img alt="Codeigniter" class="img-responsive center-block" src="images/tech_logos/logo_codeigniter.png"></a>
				</div>
				<div class="col-sm-2">
					<a href="http://laravel.com/" target="_blank"><img alt="Laravel" class="img-responsive center-block" src="images/tech_logos/logo_laravel.png"></a>
				</div>
				<div class="col-sm-2">
					<a href="https://angularjs.org/" target="_blank"><img alt="Angular JS" class="img-responsive center-block" src="images/tech_logos/logo_angular.png"></a>
				</div>
			</div><!-- ends row --><br class="hidden-xs">
			<div class="row">
				<div class="col-sm-2">
					<a href="http://jquery.com/" target="_blank"><img alt="jQuery" class="img-responsive center-block" src="images/tech_logos/logo_jquery.png"></a>
				</div>
				<div class="col-sm-2">
					<a href="https://wordpress.org/" target="_blank"><img alt="Wordpress" class="img-responsive center-block" src="images/tech_logos/logo_wordpress.png"></a>
				</div>
				<div class="col-sm-2">
					<a href="http://www.joomla.org/" target="_blank"><img alt="Joomla" class="img-responsive center-block" src="images/tech_logos/logo_joomla.png"></a>
				</div>
				<div class="col-sm-2">
					<a href="http://mailchimp.com/" target="_blank"><img alt="MailChimp" class="img-responsive center-block" src="images/tech_logos/logo_mailchimp.png"></a>
				</div>
				<div class="col-sm-2">
					<a href="https://www.paypal.com/nz/webapps/mpp/home" target="_blank"><img alt="PayPal" class="img-responsive center-block" src="images/tech_logos/logo_paypal.png"></a>
				</div>
				<div class="col-sm-2">
					<a href="http://www.sublimetext.com" target="_blank"><img alt="Sublime Text2" class="img-responsive center-block" src="images/tech_logos/logo_sublime.png"></a>
				</div>
			</div><!-- ends row --><br class="hidden-xs">
			<div class="row">
				<div class="col-sm-2">
					&nbsp;
				</div>
				<div class="col-sm-2">
					<a href="http://yeoman.io/" target="_blank"><img alt="Yeoman" class="img-responsive center-block" src="images/tech_logos/logo_yeoman.png"></a>
				</div>
				<div class="col-sm-2">
					<a href="http://gruntjs.com/" target="_blank"><img alt="Grunt JS" class="img-responsive center-block" src="images/tech_logos/logo_grunt.png"></a>
				</div>
				<div class="col-sm-2">
					<a href="http://bower.io/" target="_blank"><img alt="Bower" class="img-responsive center-block" src="images/tech_logos/logo_bower.png"></a>
				</div>
				<div class="col-sm-2">
					<a href="http://lesscss.org/" target="_blank"><img alt="Less CSS" class="img-responsive center-block" src="images/tech_logos/logo_less.png"></a>
				</div>
				<div class="col-sm-2">
					&nbsp;
				</div>
			</div><!-- ends row --><br>
		</div><!-- ENDS container -->
	</div><!-- ENDS band -->
	<div class="band">
		<div class="container">
			<div class="row">
				
					<h2 class="text-center">Sporting Background - Javelin throw</h2>
					<div class="text-center"><img src="images/stars.png"></div>
					<p class="text-center">Way back at high school I started what was to be a fifteen year career in track and field athletics as a javelin thrower. After some early sucesses at school level I was fortunate to go on and represent New Zealand at Olympic, Commonwealth and World Championship level. In 1986, I was selected for the XIII Commonwealth Games in Edinburgh, Scotland and as an 18 year old won a bronze medal &#8211; one of my most enduring memories. Other career highlights included two World Junior javelin records, two Olympics Games, bronze medals at the World Junior Championships and Commonwealth Games 1986, 1990 and 1994 and 11 national javelin records culminating in 88.20m in Oslo Norway 1996.</p><br>
					

					<table class="table">
						<thead>
							<tr>
								<th>Year</th>
								<th>Competition</th>
								<th>Perf / Result</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1986</td>
								<td>International Meeting Athens, Greece</td>
								<td>76.68m (World Junior Record)</td>
							</tr>
							<tr>
								<td>1986</td>
								<td>World Junior Championships Athens, Greece</td>
								<td>Bronze medal - 74.24m</td>
							</tr>
							<tr>
								<td>1986</td>
								<td>Commonwealth Games - Edinburgh, Scotland</td>
								<td>Bronze medal - 76.22m</td>
							</tr>
							<tr>
								<td>1986</td>
								<td>New Caledonia (Noumea) International</td>
								<td>79.58m (World Junior Record)</td>
							</tr>
							<tr>
								<td>1988</td>
								<td>NZ National Meeting - Auckland</td>
								<td>80.20m NZ National Record (first NZ'er over 80m)</td>
							</tr>
							<tr>
								<td>1990</td>
								<td>Commonwealth Games - Auckland</td>
								<td>Bronze medal - 81.20m</td>
							</tr>
							<tr>
								<td>1994</td>
								<td>Commonwealth Games - Victoria, Canada</td>
								<td>Bronze medal - 80.42m</td>
							</tr>
							<tr>
								<td>1991</td>
								<td>World Athletics Championships - Tokyo, Japan</td>
								<td>4th Place - 84.24m</td>
							</tr>
							<tr>
								<td>1992</td>
								<td>International Meeting - Wellington</td>
								<td>86.14m (NZ National Record)</td>
							</tr>
							<tr>
								<td>1992</td>
								<td>Olympic Games - Barcelona, Spain</td>
								<td>Finalist (9th)</td>
							</tr>
							<tr>
								<td>1996</td>
								<td>IAAF Grand Prix - Oslo, Norway</td>
								<td>
									88.20m (Current NZ National Record) - <a href="http://www.youtube.com/watch?v=B194wqEJcds" target="_blank">Watch Video</a>
								</td>
							</tr>
						</tbody>
					</table>

					<button class="btn btn-sm btn-grey back-to-top center-block" scroll-to="#top-scroll" scroll-to-item="">Back to Top</button><!-- directive - BACK TO TOP --> <!-- ENDS article -->

			</div><!-- ENDS row -->
		</div><!-- ENDS container -->
	</div><!-- ENDS band -->
</div><!-- ENDS main-container -->
<div ng-include="'views/banners/footer.html'"></div>