<a id="top-scroll" name="top"></a>
<div ng-include="'views/banners/banner.html'"></div>

<!-- GRAPHICS -->
<div class="main-container">
<div class="dashed-vert"><!-- Puts Vert dash down center of page -->

	<div class="container">

		<div class="row">
			
			<!-- ****************************** -->
			<!-- LEFT COLUMN -->
			<!-- ****************************** -->
			<section class="col-sm-6 content-left">

				<!-- INTRO TO WEBSITES -->
				<article class="article">
					<h2>Website Design</h2>
					<p class="p-first">
						We design and build website applications ranging from simple (but elegant) brochure sites, right through to custom developed web applications utilising all of todays modern web technologies. If you are looking at developing a new site or a revamping an older existing site, we look forward to hearing from you and offering our professional advice and expertise. 
					</p>
				</article>

				
				<!-- BUSINESS WEBSITES -->
				<article class="article">
					<a ng-href="#/websites"><img src="images/web/web_01b.png" class="img-icon img-responsive wow flipInX"></a>
					<h3>Business Websites</h3>
					<p class="p-first" ng-hide="showDiv">
						Professional, modern designs complete with fully intergrated content management systems (CMS). Our websites provide for a seamless user experience across all of todays mobile computing devices - desktops, tablets and smartphones.
					</p>
					<div class="reveal-animation" ng-include="template.url"></div>
					<a ng-href="#/websites" class="btn btn-sm btn-grey">VIEW</a>
					<a ng-href="#/websites#gallery" class="btn btn-sm btn-grey">PORTFOLIO</a>
					<hr class="left-dashed dashed">
					<img src="images/icon_dot.png" class="left-icon-dot">
				</article>


				<!-- CUSTOM WEBSITES -->
				<article class="article">
					<a ng-href="#/websites"><img src="images/web/web_02b.png" class="img-icon img-responsive"></a>
					<h3>Custom Builds</h3>
					<p class="p-first">
						Sometimes an off-the-shelf solution won't be suitable for your requirements. If your website project can't be catered for by an existing content management system (CMS) or you need something tailored to your needs - talk to us, we may have a solution for you.
					</p>
					<a ng-href="#/websites" class="btn btn-sm btn-grey">VIEW</a>
					<a ng-href="#/websites#gallery" class="btn btn-sm btn-grey">PORTFOLIO</a>
					<hr class="left-dashed dashed">
					<img src="images/icon_dot.png" class="left-icon-dot">
				</article>


				<!-- SINGLE PAGE WEBSITES -->
				<article class="article">
					<a ng-href="#/websites"><img src="images/web/web_03b.png" class="img-icon img-responsive"></a>
					<h3>Single Page Web Apps</h3>
					<p class="p-first">
						Single page web apps offer a more 'native-app-like' experience to the user. Created with standard web technologies - HTML, CSS and Javascript these sites are generally much faster than traditional sites as they only reload the section(s) of data that change each time the user interacts with the site instead of reloading the entire page.
					</p>
					<a ng-href="#/websites" class="btn btn-sm btn-grey">VIEW</a>
					<a ng-href="#/websites#gallery" class="btn btn-sm btn-grey">PORTFOLIO</a>
					<hr class="left-dashed dashed">
					<img src="images/icon_dot.png" class="left-icon-dot">
				</article>

			</section><!-- ENDS col6 -->



			



			<!-- ****************************** -->
			<!-- RIGHT COLUMN -->
			<!-- ****************************** -->
			<section class="col-sm-6 content-right">

				<!-- GRAPHICS -->
				<article class="article">
					<a ng-href="#/graphics"><img src="images/graphics/graphic_01b.png" class="img-icon img-responsive wow flipInX"></a>
					<h2 class="bold">Graphic Design</h2>
					<p class="p-first" ng-hide="showDivv">
						Achieve a clean and professional look for your printed material and launch your message with power and clear direction. Our graphic design skills transform the ordinary into extraordinary to make your catalogues, reports, proposals and other text and images soar above the rest. We work directly with you and your team to establish a clear brief and bring your vision to life!  
					</p>
					<a ng-href="#/graphics" class="btn btn-sm btn-grey">VIEW</a>
					<a ng-href="#/graphics" class="btn btn-sm btn-grey">PORTFOLIO</a>
					<hr class="right-dashed dashed">
					<img src="images/icon_dot.png" class="right-icon-dot">
				</article>



				<!-- LOGOS -->
				<article class="article">
					<a ng-href="#/logos"><img src="images/logos/logo_01b.png" class="img-icon img-responsive"></a>
					<h2 class="bold">Logo Design</h2>
					<p class="p-first">
						We create professional, modern branding which accurately represents your business, products or services and consider all situations where your brand may be required.
					</p>
					<a ng-href="#/logos" class="btn btn-sm btn-grey">VIEW</a>
					<a ng-href="#/logos" class="btn btn-sm btn-grey">PORTFOLIO</a>
					<hr class="right-dashed dashed">
					<img src="images/icon_dot.png" class="right-icon-dot">
				</article>



				<!-- ABOUT -->
				<article class="article">
					<a ng-href="#/about"><img src="images/gavin2.png" class="img-icon img-responsive"></a>
					<h2 class="bold">About</h2>
					<p class="p-first">
						In 1998 after retiring from a 15 year career in athletics as a javelin thrower, I soon found a keen interest in creative design and programming. Spending many hours behind the screen I have developed a wide range of technical skills in both graphic design and website development. 
					</p>
					<p>
						Over the years I have been fortunate to work with a loyal base of supportive clients and have continued to push the boundaries in design and web technologies, offering all these services at competitive rates. 
					</p>
					<a ng-href="#/about" class="btn btn-sm btn-grey">VIEW</a>
					<hr class="right-dashed dashed">
					<img src="images/icon_dot.png" class="right-icon-dot">
				</article>



				<!-- CONTACT -->
				<article class="article">
					<h2 class="bold">Contact Us</h2>
					<p class="p-first">
						 If you are interested in discussing your next design or website development project we would love to hear from you.
					</p>
					<p>
						Contact me (Gavin) for an obligation free chat ...<br><br>
						<strong>Phone: 09 478 9077 | Mob: 021 0277 1109 <br> Email: Me here</strong>
					</p>
					<a ng-href="#/contact" class="btn btn-sm btn-grey">VIEW</a>
					<hr class="right-dashed dashed">
					<img src="images/icon_dot.png" class="right-icon-dot">
				</article>

			</section><!-- ENDS col6 -->



			<div class="col-sm-12">
				<button class="btn btn-sm btn-grey back-to-top center-block" scroll-to-item scroll-to="#top-scroll">Back to Top</button><br><!-- directive - BACK TO TOP -->
			</div>

		</div><!-- ENDS row -->
	</div><!-- ENDS container -->
</div><!-- ENDS dashed-vert -->
</div><!-- ENDS main-container -->

<div ng-include="'views/banners/footer.html'"></div>