<a id="top-scroll" name="top"></a>
<div ng-include="'views/banners/banner.html'"></div>

<!-- ANNUAL REPORTS -->
<div class="main-container">
<div class="band-grey">

	<div class="container">

		<!-- LOGO DESIGN -->
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="wow bounceIn">Logo design</h2>
			</div><!-- ENDS col -->
		</div><!-- ENDS row -->

		<hr class="dashed">

		<div class="row">

			<div class="col-sm-6">
				<h4 class="grey ">What is a logo?</h4>
				<p>
					<strong>A logo is used to 'identify'.</strong> It is only one aspect of a company's brand or entity and its colours, fonts, symbols and shape are usually very different from that of its market competitors. An effective logo must me immediately recognisable, instantiate trust and credibility and display a high level of professionalism.
				</p>
				<img ng-src="images/logos/logo_02.png" class="img-responsive center-block" alt="Logo Design" spinner-on-load>

			</div>

			<div class="col-sm-6">

				<h4 class="grey">The logo design process</h4>
				<p>
					People often ask <strong>"what’s so difficult about creating a good logo"?</strong> They’re small, they look easy to design, so what's the problem? Well, when you only see the final result of the designer’s work, the logo itself can look as though it was a simple straight forward  task, but in reality it’s not. A logo takes a lot of thought and creativity, and requires many elements to come together to create a good one.
				</p>
				<p>
					An effective logo design should encompass 5 key criteria. It should be:
				</p>
				<ul>
					<li>Simple</li>
					<li>Memorable</li>
					<li>Timeless</li>
					<li>Versatile</li>
					<li>Appropriate</li>
				</ul>

			</div><!-- ENDS col -->

			<div class="col-sm-12">
				<img ng-src="images/logos/Branding_Identity_01.png" class="img-responsive center-block" alt="Brand Development" spinner-on-load>
				<h5 class="grey text-center">Waitakere Triathlon</h5><br>
			</div>

		</div><!-- ENDS row -->
	</div><!-- ENDS conatiner -->
</div><!-- ENDS band-grey -->





<div class="band">

	<div class="container">

		<!-- LOGO DESIGN -->
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2>Recent Work</h2>
			</div><!-- ENDS col -->
		</div><!-- ENDS row -->

		<hr class="dashed" style="margin-bottom:60px;">

		<div class="row">

			<div class="col-sm-3">
				<img ng-src="images/logos/auckBasketball.png" class="img-icon img-responsive wow rotateIn" spinner-on-load data-wow-delay="0.1s">
			</div>
			<div class="col-sm-3">
				<img ng-src="images/logos/OAA.png" class="img-icon img-responsive wow rotateIn" spinner-on-load data-wow-delay="0.3s">
			</div>
			<div class="col-sm-3">
				<img ng-src="images/logos/Waitakere_Tri.png" class="img-icon img-responsive wow rotateIn" spinner-on-load data-wow-delay="0.5s">
			</div>
			<div class="col-sm-3">
				<img ng-src="images/logos/netballNorthHarbour.png" class="img-icon img-responsive wow rotateIn" spinner-on-load data-wow-delay="0.7s">
			</div>

		</div><!-- ENDS row -->

		<div class="row">

			<div class="col-sm-3">
				<img ng-src="images/logos/the_grange.png" class="img-icon img-responsive wow rotateIn" spinner-on-load data-wow-delay="0.2s">
			</div>
			<div class="col-sm-3">
				<img ng-src="images/logos/rufz.png" class="img-icon img-responsive wow rotateIn" spinner-on-load data-wow-delay="0.4s">
			</div>
			<div class="col-sm-3">
				<img ng-src="images/logos/betterway_trades.png" class="img-icon img-responsive wow rotateIn" spinner-on-load data-wow-delay="0.6s">
			</div>
			<div class="col-sm-3">
				<img ng-src="images/logos/click_fresh.png" class="img-icon img-responsive wow rotateIn" spinner-on-load data-wow-delay="0.8s">
			</div>

		</div><!-- ENDS row -->

		<button class="btn btn-sm btn-grey back-to-top center-block" scroll-to-item scroll-to="#top-scroll">Back to Top</button><!-- directive - BACK TO TOP -->

	</div><!-- ENDS conatiner -->
</div><!-- ENDS band-grey -->
</div><!-- ENDS main-container -->

<div ng-include="'views/banners/footer.html'"></div>