<a id="top-scroll" name="top"></a>
<div ng-include="'views/banners/banner.html'"></div>

<!-- CONTACT US -->
<div class="main-mobile">

	<div class="band-black">

		<div class="container">

			<!-- MOBILE WEB NUMBERS -->
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1 class="green wow bounceInRight">Are you ready for the mobile world?</h1>
					<p class="mob-intro wow bounceInLeft">
						As the uptake of mobile devices like smartphones and tablets continues to rise, tasks that were once the domain of desktops (i.e. web browsing) are now being performed with ease and sometimes preference on these smaller portable devices. And it's not just surfing the web, it's everything from browsing social media platforms, checking emails, booking reservations to online shopping.

						Mobile internet usage is steadily increasing and it's very important that your website is mobile friendly and able to engage your users' on their preferred devices. In fact, think '<strong>mobile first</strong>' - it's here and here to stay!
					</p>
				</div><!-- ENDS col -->
			</div><!-- ENDS row -->

			<div class="pad"></div>

			<hr class="dashed-grey">

			<!-- MOBILE WEB NUMBERS -->
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2>The mobile web in numbers!</h2>
					<p class="hidden-xs">&nbsp;</p>
				</div><!-- ENDS col -->
			</div><!-- ENDS row -->



			<div class="row">

				<div class="col-sm-12 text-center">

					
					<img src="images/mobile/mob_stats_01.png" class="img-responsive center-block wow bounceIn" data-wow-offset="10">
					<p>
						was the year 'mobile' users out-numbered desktop users!
					</p>

					<div class="pad"></div>
					<hr class="dashed-grey pad visible-xs">

					<img src="images/mobile/mob_stats_02.png" class="img-responsive center-block wow bounceIn">
					<p>
						of all web traffic is now contributed to 'mobile' users and it's growing ... fast!
					</p>

					<div class="pad"></div>
					<hr class="dashed-grey pad visible-xs">

					<img src="images/mobile/mob_stats_03.png" class="img-responsive center-block wow bounceIn">
					<p>
						of all adults think a company's 'mobile' website should be as good or better than their desktop version!
					</p>

					<div class="pad"></div>
					<hr class="dashed-grey pad visible-xs">

					<img src="images/mobile/mob_stats_04.png" class="img-responsive center-block wow bounceIn">
					<p>
						of tablet users have purchased online via their 'tablet' device in the last 30 days.
					</p>

					<div class="pad"></div>
					<hr class="dashed-grey pad visible-xs">

					<img src="images/mobile/mob_stats_05.png" class="img-responsive center-block wow bounceIn">
					<p>
						of users said that if a site didn't work well on their smartphone, they didn't feel the company took their online presence seriously. 
					</p>

					<div class="pad"></div>
					<hr class="dashed-grey pad visible-xs">

					<img src="images/mobile/mob_stats_06.png" class="img-responsive center-block wow bounceIn">
					<p>
						of users are more likely to make a purchase with a phone / tablet device if the site has been optimised for their 'mobile' platform. 
					</p>

					<div class="pad"></div>
					<hr class="dashed-grey pad visible-xs">

					<img src="images/mobile/mob_stats_07.png" class="img-responsive center-block wow bounceIn">
					<p>
						smartphone and tablet users were surveyed by Google, 48% reported discontent with websites that were not optimised for mobie devices. 
					</p>

					<div class="pad"></div>
					<hr class="dashed-grey pad visible-xs">
					
					<h2>
						Are you ready ... 
					</h2>
					<h3>
						<span class="grey"> for your mobile web customers?</span>
					</h3>

				</div>

				<button class="btn btn-sm btn-grey back-to-top center-block" scroll-to-item scroll-to="#top-scroll">Back to Top</button><!-- directive - BACK TO TOP -->

			</div><!-- ENDS row -->
		</div><!-- ENDS conatiner -->
	</div><!-- ENDS band-grey -->

</div><!-- ENDS main-container -->

<div ng-include="'views/banners/footer.html'"class="mobile-footer"></div>