<a id="top-scroll" name="top"></a> <!-- WESBITES -->

<div class="main-container-secondary">
	<div class="band">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center wow bounceInUp">
					<h1 class="giant">Website Design &amp; Development</h1>


					<h2>The challenge of today's modern website</h2>


					<p>Creating a new website today takes a slight mental adjustment. We now have to think of all the different platforms your site might be viewed from. Once apon a time it was simply the humble desktop, now days your audience will more than likely be finding you from a phone or tablet device. So what does this mean? Take your current website for example, if it's been around for a few years, its likely to be a fixed width site that gets shrunk down when viewed on a mobile device. This means a lot of frustrating zoom in / zoom out behaviour for your viewers - far from ideal!<br class="visible-lg"></p>


					<h4 class="grey">What are the mobile web user statistics?</h4>
					<img src="images/stars.png">

					<p><a class="btn btn-sm btn-grey" href="#/mobile">READ MORE</a>
					</p>
					<a href="http://www.imaging4dev.com" target="_blank"><img alt="responsive website design" class="img-responsive center-block" ng-src="images/web/Responsive_02.png" spinner-on-load=""></a>
				</div>
				<!-- ENDS col -->
			</div>
			<!-- ENDS row -->
		</div>
		<!-- ENDS conatiner -->
	</div>
	<!-- ENDS band-grey -->

	<div class="band-greyDark">
		<div class="container wow bounceInUp">
			<div class="row div-full">
				<div class="col-sm-12 text-center">
					<h2>Our design process</h2>
					<br>
				</div>


				<div class="col-sm-3 text-center">
					<img alt="planning" class="img-icon img-responsive center-block wow bounceInUp" ng-src="images/icon_plan.png" spinner-on-load="">

					<h4>Planning</h4>


					<p>This is the most critical phase of any website build. Here we lay the foundations of how your website will look, function and communicate. Time spent in this early planning stage mapping out key objectives, determining your target market and developing strategies for users to contact you will significantly impact the success of your website.</p>

					<hr class="visible-xs dashed-pad40">
				</div>
				<!-- ENDS col -->

				<div class="col-sm-3 text-center">
					<img alt="design" class="img-icon img-responsive center-block wow bounceInUp" data-wow-delay="0.2s" ng-src="images/icon_graphics.png" spinner-on-load="">

					<h4>Designing</h4>


					<p>Here we develop the visual concepts of how your wesbite will look, including full mock ups of all the key template pages within your website. We focus on the layout of the key components (established in the planning stage), their positioning, styling, colour pallets, use of photography, typography and other design elements and features.</p>

					<hr class="visible-xs dashed-pad40">
				</div>
				<!-- ENDS col -->

				<div class="col-sm-3 text-center">
					<img alt="coding" class="img-icon img-responsive center-block wow bounceInUp" data-wow-delay="0.4s" ng-src="images/icon_code.png" spinner-on-load="">

					<h4>Coding</h4>


					<p>Upon reaching agreement on the design of your new website, we then convert your mock ups into HTML and CSS code allowing them to function within a web browser. Additional functionality such as special affects, forms, dynamic data derived from a database or a fully integrated CMS (content management system) are also implemented here.</p>

					<hr class="visible-xs dashed-pad40">
				</div>
				<!-- ENDS col -->

				<div class="col-sm-3 text-center">
					<img alt="going live" class="img-icon img-responsive center-block wow bounceInUp" data-wow-delay="0.6s" ng-src="images/icon_bus_websites.png" spinner-on-load="">

					<h4>Going Live!</h4>


					<p>Finally we test all functions and components of your site including forms, dynamic data delivery, content management, cross browser compatibilty, the responsiveness and appearance of your site on different devices such as smart phones and tablets. Once this has been completed we configure the hosting environment and launch your site live!</p>
				</div>
				<!-- ENDS col -->
			</div>
			<!-- ENDS row -->
		</div>
		<!-- ENDS conatiner -->
	</div>
	<!-- ENDS band-grey -->

	<div class="band">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="grey">Latest ...</h2>
					<br>
					<!-- ELEARN ECONOMICS -->

					<article class="article">
						<img alt="eLearn Economics" class="img-icon img-responsive center-block" ng-src="images/web/web_browser11.png" spinner-on-load="">

						<h5 class="grey">eLearn Economics - Online Learning</h5>
					</article>
				</div>
			</div>
			<!--ENDS row-->

			<div class="row">
				<div class="col-md-4">
					<article>
						<h3>eLearn Economics</h3>


						<p><strong>Technologies used:</strong> HTML5, CSS3, jQuery, PHP (Codeigniter framework), MySql database.</p>


						<p>The <strong>Beijing Track Challenge</strong> is a fan based website built to encourage track and field enthusiasts to participate in the 2015 (Beijing) World Athletic Championships in an online capacity by selecting the medalists in all events for both men and women. Each successful (medal) selection gains points, giving a total score for each user. At the completion of the championships the actual medal winners are compared with each users picks and posted on the leaderboard for bragging rights.</p>


						<p>The site was built with a <strong>focus on mobile users</strong> and provides a sharp, clean and easy to use interface. Leveraging some of todays latest front end technologies we were able to create 'native app' type behaviours and useability whilst using only web components.</p>


						<p><strong>Note:</strong> Full live site expected to be launched just prior to the start of the World Athletic Championships (August 2015).</p>
					</article>
				</div>


				<div class="col-md-8">
					<article>
						<img alt="Track Challenge Mobile" class="img-icon img-responsive center-block" ng-src="images/web/web_browser11_mob.png" spinner-on-load="">
					</article>
				</div>
			</div>
			<!--ENDS row-->

			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="grey">&nbsp;</h2>
					<br>
					<!-- BEIJING CHALLENGE -->

					<article class="article">
						<img alt="Beijing Track &amp; Field Challenge" class="img-icon img-responsive center-block" ng-src="images/web/web_browser10.png" spinner-on-load="">

						<h5 class="grey">Beijing Track &amp; Field Challenge</h5>
					</article>
				</div>
			</div>
			<!--ENDS row-->

			<div class="row">
				<div class="col-md-4">
					<article>
						<h3>Beijing Track Challenge</h3>


						<p><strong>Technologies used:</strong> HTML5, CSS3, AngularJS, PHP (Laravel framework), MySql database.</p>


						<p>The <strong>Beijing Track Challenge</strong> is a fan based website built to encourage track and field enthusiasts to participate in the 2015 (Beijing) World Athletic Championships in an online capacity by selecting the medalists in all events for both men and women. Each successful (medal) selection gains points, giving a total score for each user. At the completion of the championships the actual medal winners are compared with each users picks and posted on the leaderboard for bragging rights.</p>


						<p>The site was built with a <strong>focus on mobile users</strong> and provides a sharp, clean and easy to use interface. Leveraging some of todays latest front end technologies we were able to create 'native app' type behaviours and useability whilst using only web components.</p>


						<p><strong>Note:</strong> Full live site expected to be launched just prior to the start of the World Athletic Championships (August 2015).</p>
					</article>
				</div>


				<div class="col-md-8">
					<article>
						<img alt="Track Challenge Mobile" class="img-icon img-responsive center-block" ng-src="images/web/web_browser10_mob.png" spinner-on-load="">
					</article>
				</div>
			</div>
			<!--ENDS row-->

			<div class="row" id="gallery">
				<div class="col-sm-12 text-center">
					<h2 class="grey">Recent work</h2>
					<br>
				</div>
			</div>
			<!-- ENDS row -->
		</div>
		<!-- ENDS container -->

		<div class="row no-gutters">
			<div class="col-sm-4">
				<figure class="cap-bot">
					<img alt="altTextHere" class="img-responsive" ng-src="images/test.png" spinner-on-load=""> <a href="#/websites" scroll-to="#north" scroll-to-item="">
					<figcaption>
						<h3>Caption Title</h3>


						<p>Website description goes here</p>
					</figcaption></a>
				</figure>
			</div>


			<div class="col-sm-4">
				<figure class="cap-bot">
					<img alt="altTextHere" class="img-responsive" ng-src="images/test.png" spinner-on-load=""> <a href="#/websites" scroll-to="#north" scroll-to-item="">
					<figcaption>
						<h3>Caption Title</h3>


						<p>Website description goes here</p>
					</figcaption></a>
				</figure>
			</div>


			<div class="col-sm-4">
				<figure class="cap-bot">
					<img alt="altTextHere" class="img-responsive" ng-src="images/test.png" spinner-on-load=""> <a href="#/websites" scroll-to="#north" scroll-to-item="">
					<figcaption>
						<h3>Caption Title</h3>


						<p>Website description goes here</p>
					</figcaption></a>
				</figure>
			</div>
		</div>


		<div class="row no-gutters">
			<div class="col-sm-4">
				<figure class="cap-bot">
					<img alt="altTextHere" class="img-responsive" ng-src="images/test.png" spinner-on-load=""> <a href="#/websites" scroll-to="#north" scroll-to-item="">
					<figcaption>
						<h3>Caption Title</h3>


						<p>Website description goes here</p>
					</figcaption></a>
				</figure>
			</div>


			<div class="col-sm-4">
				<figure class="cap-bot">
					<img alt="altTextHere" class="img-responsive" ng-src="images/test.png" spinner-on-load=""> <a href="#/websites" scroll-to="#north" scroll-to-item="">
					<figcaption>
						<h3>Caption Title</h3>


						<p>Website description goes here</p>
					</figcaption></a>
				</figure>
			</div>


			<div class="col-sm-4">
				<figure class="cap-bot">
					<img alt="altTextHere" class="img-responsive" ng-src="images/test.png" spinner-on-load=""> <a href="#/websites" scroll-to="#north" scroll-to-item="">
					<figcaption>
						<h3>Caption Title</h3>


						<p>Website description goes here</p>
					</figcaption></a>
				</figure>
			</div>
		</div>
		<!-- ENDS row -->

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<a id="north" name="north"></a><br>
					<br>
					<!-- Scroll to portfolio item --> <img class="img-responsive center-block shadow-large" src="images/web/show_eLearn.png"> <button class="btn btn-grey btn-md center-block but-pad" scroll-to="#gallery" scroll-to-item="">BACK UP <i class="fa fa-chevron-up"></i></button> <a id="anz" name="anz"></a><br>
					<br>
					<!-- Scroll to portfolio item --> <img class="img-responsive center-block shadow-large" src="images/web/show_anz.png"> <button class="btn btn-grey btn-md center-block but-pad" scroll-to="#gallery" scroll-to-item="">BACK UP <i class="fa fa-chevron-up"></i></button> <a id="timesheet" name="timesheet"></a><br>
					<br>
					<!-- Scroll to portfolio item --> <img class="img-responsive center-block shadow-large" src="images/web/show_timesheet.png"> <button class="btn btn-grey btn-md center-block but-pad" scroll-to="#gallery" scroll-to-item="">BACK UP <i class="fa fa-chevron-up"></i></button> <a id="track" name="track"></a><br>
					<br>
					<!-- Scroll to portfolio item --> <img class="img-responsive center-block shadow-large" src="images/web/show_track.png"> <button class="btn btn-grey btn-md center-block but-pad" scroll-to="#gallery" scroll-to-item="">BACK UP <i class="fa fa-chevron-up"></i></button> <a id="lacigale" name="lacigale"></a><br>
					<br>
					<!-- Scroll to portfolio item --> <img class="img-responsive center-block shadow-large" src="images/web/show_lacigale.png"> <button class="btn btn-grey btn-md center-block but-pad" scroll-to="#gallery" scroll-to-item="">BACK UP <i class="fa fa-chevron-up"></i></button> <a id="events" name="events"></a><br>
					<br>
					<!-- Scroll to portfolio item --> <img class="img-responsive center-block shadow-large" src="images/web/show_events.png"> <button class="btn btn-grey btn-md center-block but-pad" scroll-to="#gallery" scroll-to-item="">BACK UP <i class="fa fa-chevron-up"></i></button>
				</div>
			</div>
			<!--ENDS row-->

			<div class="pad">
				<button class="btn btn-sm btn-grey back-to-top center-block" scroll-to="#top-scroll" scroll-to-item="">Back to Top</button><!-- directive - BACK TO TOP -->
			</div>
		</div>
		<!-- ENDS container -->
	</div>
	<!-- ENDS band -->
</div>
<!-- ENDS main-container -->

<div ng-include="'views/banners/footer.html'">
</div>