<a id="top-scroll" name="top"></a>

<!-- WESBITES -->
<div class="main-container-secondary">
	<div class="band">

		<div class="container">

			<div class="row">

				<div class="col-sm-12 text-center wow bounceInUp">

					<h1 class="giant">Website Design &amp; Development</h1>

					<h2>The challenge of today's modern website</h2>
					<p>
						Creating a new website today takes a slight mental adjustment. We now have to think of all the different platforms your site might be viewed from. Once apon a time it was simply the humble desktop, now days your audience will more than likely be finding you from a phone or tablet device. So what does this mean? Take your current website for example, if it's been around for a few years, its likely to be a fixed width site that gets shrunk down when viewed on a mobile device. This means a lot of frustrating zoom in / zoom out behaviour for your viewers - far from ideal! <br class="visible-lg"> 
					</p>
					<h4 class="grey">
						What are the mobile web user statistics?
					</h4>
					<img src="images/stars.png">
					<p><a href="#/mobile" class="btn btn-sm btn-grey">READ MORE</a></p>
					<a href="http://www.imaging4dev.com" target="_blank"><img ng-src="images/web/Responsive_02.png" class="img-responsive center-block" alt="responsive website design" spinner-on-load></a>

				</div><!-- ENDS col -->
			</div><!-- ENDS row -->
		</div><!-- ENDS conatiner -->
	</div><!-- ENDS band-grey -->



	<div class="band-greyDark">

		<div class="container wow bounceInUp">

			<div class="row div-full">

				<div class="col-sm-12 text-center">
					<h2>Our design process</h2><br>
				</div>

				<div class="col-sm-3 text-center">
					<img ng-src="images/icon_plan.png" class="img-icon img-responsive center-block wow bounceInUp" alt="planning" spinner-on-load>
					<h4>Planning</h4>
					<p>
						This is the most critical phase of any website build. Here we lay the foundations of how your website will look, function and communicate. Time spent in this early planning stage mapping out key objectives, determining your target market and developing strategies for users to contact you will significantly impact the success of your website. 
					</p>
					<hr class="visible-xs dashed-pad40">
				</div><!-- ENDS col -->

				<div class="col-sm-3 text-center">
					<img ng-src="images/icon_graphics.png" class="img-icon img-responsive center-block wow bounceInUp" alt="design" spinner-on-load data-wow-delay="0.2s">
					<h4>Designing</h4>
					<p>
						Here we develop the visual concepts of how your wesbite will look, including full mock ups of all the key template pages within your website. We focus on the layout of the key components (established in the planning stage), their positioning, styling, colour pallets, use of photography, typography and other design elements and features.
					</p>
					<hr class="visible-xs dashed-pad40">
				</div><!-- ENDS col -->

				<div class="col-sm-3 text-center">
					<img ng-src="images/icon_code.png" class="img-icon img-responsive center-block wow bounceInUp" alt="coding" spinner-on-load data-wow-delay="0.4s">
					<h4>Coding</h4>
					<p>
						Upon reaching agreement on the design of your new website, we then convert your mock ups into HTML and CSS code allowing them to function within a web browser. Additional functionality such as special affects, forms, dynamic data derived from a database or a fully integrated CMS (content management system) are also implemented here.
					</p>
					<hr class="visible-xs dashed-pad40">
				</div><!-- ENDS col -->

				<div class="col-sm-3 text-center">
					<img ng-src="images/icon_bus_websites.png" class="img-icon img-responsive center-block wow bounceInUp" alt="going live" spinner-on-load data-wow-delay="0.6s">
					<h4>Going Live!</h4>
					<p>
						Finally we test all functions and components of your site including forms, dynamic data delivery, content management, cross browser compatibilty, the responsiveness and appearance of your site on different devices such as smart phones and tablets. Once this has been completed we configure the hosting environment and launch your site live!
					</p>
				</div><!-- ENDS col -->
			</div><!-- ENDS row -->
		</div><!-- ENDS conatiner -->
	</div><!-- ENDS band-grey -->



	<div class="band">

		<div class="container">

			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="grey">– Featured –</h2>
					<h3>eLearn Economics</h3><br>
					<!-- ELEARN ECONOMICS -->
					<article class="article">
						<img ng-src="images/web/web_browser11.png" class="img-icon img-responsive center-block" alt="eLearn Economics" spinner-on-load>
						<h5 class="grey">eLearn Economics - Online Learning</h5>
					</article>
				</div>
			</div><!--ENDS row-->



			<div class="row">
				<div class="col-md-4">
					<article>
						<h3>Overview ...</h3>
						<p>
							<strong>Technologies used:</strong> HTML5, CSS3 (Bootstrap), jQuery, PHP (Codeigniter framework), MySql database.
						</p>
						<p>
							<strong>Scope: </strong>Rennie Resources Ltd originally published paper based economics resources for secondary schools in New Zealand. We were tasked with converting these resources into an online platform that would allow for immediate updates and additions, keeping content fresh and relevant. The site also allows for students to complete online tests and track their results through the year anabling them to monitor their progress and better prepare for exams.
						</p>
						<p>
							<strong>Responsive: </strong>As the site is primarily focused on students it was important thay they could access and use it via mobile devices as well as a desktop environment in classrooms.
						</p>
						
					</article>
				</div>
				<div class="col-md-8">
					<article>
						<img ng-src="images/web/web_browser11_mob.png" class="img-icon img-responsive center-block" alt="Track Challenge Mobile" spinner-on-load>
					</article>
				</div>
			</div><!--ENDS row-->




			<div class="row">
				<div class="col-lg-12 text-center">
					<hr class="websites">
					<h3>Athletics New Zealand</h3><br>
					<!-- ATHLETICS NEW ZEALAND -->
					<article class="article">
						<img ng-src="images/web/web_browser3.png" class="img-icon img-responsive center-block" alt="Athletics New Zealand" spinner-on-load>
						<h5 class="grey">Athletics New Zealand - Results and Rankings</h5>
					</article>
				</div>
			</div><!--ENDS row-->



			<div class="row">
				<div class="col-md-4">
					<article>
						<h3>Overview ...</h3>
						<p>
							<strong>Technologies used:</strong> HTML5, CSS3 (Bootstrap), jQuery, PHP (Codeigniter framework), MySql database.
						</p>
						<p>
							<strong>Scope:</strong> Design and build an online rankings and results database to replace the existing paper based PDF/word doc lists which were updated on an irregular basis. Site also required the facility to view full athlete profiles showing personal bests performances, yearly progressions, national representation and medals won at national championships.
						</p>
						<p>
							<strong>Responsive: </strong>As this site contains a large amount of multi-column tabluar data we designed a solution that works effectively on smaller devices, especially phones, by initailly hiding less important data and then allowing the user to click and display the remaining information verticaly. 
						</p>
						
					</article>
				</div>
				<div class="col-md-8">
					<article>
						<img ng-src="images/web/web_browser3_mob.png" class="img-icon img-responsive center-block" alt="Athletics New Zealand" spinner-on-load>
					</article>
				</div>
			</div><!--ENDS row-->


			<div class="row">
				<div class="col-sm-12 text-center">
					<h2 class="grey">– Recent Work –</h2>
				</div>
			</div>



		</div><!-- ENDS container -->
	</div><!-- ENDS band -->


	<div class="band-no-gutters">
		<div class="row no-gutters" id="gallery">
			<div class="col-md-4">
				<figure class="cap-bot">
					<img ng-src="images/web/web_browser9.png" class="img-responsive" alt="Lovegrove Design" spinner-on-load>
					<a href="#/websites" scroll-to-item scroll-to="#north"><figcaption><h3>Lovegrove Design</h3> <p>Custom job and timsheet manager <br>CSS3, AnjularJS, PHP (Laravel), MySql </p></figcaption></a>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="cap-bot">
					<img ng-src="images/web/web_browser2.png" class="img-responsive" alt="Track &amp; Field Statistics" spinner-on-load>
					<a href="#/websites" scroll-to-item scroll-to="#north"><figcaption><h3>Track &amp; Field Statistics</h3> <p>Statistical performance analysis tool <br>CSS3, AnjularJS, PHP (Laravel), MySql </p></figcaption></a>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="cap-bot">
					<img ng-src="images/web/web_browser1.png" class="img-responsive" alt="LaCigale" spinner-on-load>
					<a href="#/websites" scroll-to-item scroll-to="#north"><figcaption><h3>LaCigale</h3> <p>French markets business website <br>Wordpress, custom theme </p></figcaption></a>
				</figure>
			</div>
		</div>



		<div class="row no-gutters">

			<div class="col-md-4">
				<figure class="cap-bot">
					<img ng-src="images/web/web_browser8.png" class="img-responsive" alt="The Events Group" spinner-on-load>
					<a href="#/websites" scroll-to-item scroll-to="#north"><figcaption><h3>The Events Group</h3> <p>Business website <br>Wordpress, custom theme </p></figcaption></a>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="cap-bot">
					<img ng-src="images/web/web_browser11.png" class="img-responsive" alt="eLearn Economics" spinner-on-load>
					<a href="#/websites" scroll-to-item scroll-to="#north"><figcaption><h3>eLearn Economics</h3> <p>Economics online learning platform <br>CSS3, jQuery, PHP (Codeigniter), MySql </p></figcaption></a>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="cap-bot">
					<img ng-src="images/web/web_browser3.png" class="img-responsive" alt="Athletics New Zealand" spinner-on-load>
					<a href="#/websites" scroll-to-item scroll-to="#north"><figcaption><h3>Athletics New Zealand</h3> <p>Results and rankings database <br>CSS3, jQuery, PHP (Codeigniter), MySql </p></figcaption></a>
				</figure>
			</div>

		</div><!-- ENDS row -->


	</div><!-- ENDS band-no-gutters -->
</div><!-- ENDS main-container -->


<div ng-include="'views/banners/footer.html'"></div>